:root {
	--color-bg: #1D1128;
	--color-primary: #5941B3;	
	--color-primary-faded: #6D72C3;
	--color-headers: #E5D4ED;
	--page-spacing: 125px;
}

#app {
	width: 100%;
}

html {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	background-color: var(--color-bg);
	box-content: content-box;	
	padding: 0;
	margin: 0;
	overflow-x:hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Holtwood One SC", serif;
  	font-weight: 400;
  	font-style: normal;
	color: var(--color-headers);
	padding: 0;
	margin: 0;	
}

p, span, li, a {
	color: var(--color-primary-faded);
	font-family: "Fira Mono", monospace;
	font-style: normal;
	padding:0;
	margin:0;
	font-size: 16px;
}

.button {	
	transition: background-color 0.5s, color 0.5s;	
	cursor: pointer;
}

.button:hover {	
	background-color: white !important;
	color: var(--color-primary) !important; 
}

@media only screen and (max-width: 500px) {
	p, span, li {
		font-size: 12px;
	}

	:root {
		--page-spacing: 50px;
	}
}

@media only screen and (max-width: 800px) {
	:root {
		--page-spacing: 75px;
	}	
}

